/*
# Cor principal 
#*/
body{ 
    margin: 0;
    padding: 0;
    background: #181314;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito Sans', sans-serif;
}
p { font-family: 'Nunito Sans', sans-serif }


/* SLIDESHOW */
.slideshow { 
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.slideshow .slide {
    height: 100vh;
    width: 100vw;
}

.slideshow .slide .slide__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}
.slideshow .slide .slide__image .slide__image__reveal {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: 0 100%;
}
.image_bg { width: 100%; height: 100%; background:#181314}
.slideshow .slide .slide__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.reveal_container {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2; }
.slideshow .slide  .slide__bg {
    background: #181314;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
 }
 .slideshow .slide  .slide__reveal {
    background: #30292b;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
 }